---
import { headerUnit } from "@/data_files/mega_link";
import Icon from "../icons/Icon.astro";

const { url, name, width } = Astro.props;

interface Props {
  url: string;
  name: string;
  width?: "fit" | number;
}

const linkWidth = width !== undefined ? "w-[" + width + "px]" : "w-fit";

const { business_units: units } = headerUnit

---

<div
  class={`hs-dropdown [--adaptive:none] [--strategy:static] lg:px-3 lg:py-4 lg:[--strategy:absolute] lg:[--trigger:hover] w-full lg:w-fit ${linkWidth}`}
>
  <button
    type="button"
    class="outline-0! min-h-[77px] justify-center flex w-full lg:w-fit items-center text-center text-2xl font-normal text-current lg:min-h-fit lg:text-center lg:text-lg"
    >
    {name}
    <Icon name="chevronDown" className="mt-[3px] ml-1 size-5" />
  </button>

  <div
    class="hs-dropdown-menu duration-500 lg:duration-300 w-full hs-dropdown-open:opacity-100 text-white lg:text-text-main top-full z-10 hidden lg:w-fit min-w-60 rounded-2xl lg:bg-white lg:py-2 opacity-0 transition-[opacity,margin] before:absolute before:start-0 before:-top-5 before:h-5 before:w-full lg:top-[70px] lg:p-4 lg:shadow-2xl"
  >
    <div class="gap-4 lg:grid text-lg leading-[120%] lg:leading-[150%]">
      <div class="mx-1 flex flex-col lg:mx-0 items-center lg:items-start">
        <a
          class="group items-center text-center h-[50px] lg:text-start lg:h-fit w-full flex gap-x-5 rounded-lg p-2 hover:bg-black/5"
          href={'/units/'}
        >
            <div class="grow">
              <p class="font-normal">All business organisations</p>
            </div>
        </a>
        {
          units &&
            units.map((data) => (
              <a
                class="group items-center text-center h-[50px] lg:text-start lg:h-fit w-full flex gap-x-5 rounded-lg p-2 hover:bg-black/5"
                href={`/unit/${data.url}`}
              >
                <div class="grow">
                  <p class="font-normal">{data.title}</p>
                </div>
              </a>
            ))
        }
      </div>
    </div>
  </div>
</div>

<style>
  @media screen and (max-width:768px) {
    body:has(.hs-dropdown.open) {
      overflow-y: hidden;
    }
  }
</style>