---
import ProsItem from '../pros/ProsItem.astro';

const { title, prosList } = Astro.props;

export interface IProsItem {
  iconStr: string;
  title: string;
  description: string;
}

interface Props {
  title: string;
  prosList?: IProsItem[];
}
---

<section
  class="mx-auto gap-8 px-4 bg-[var(--color-primary)] py-[100px] md:items-center md:gap-8 md:py-[134px] xl:px-10 selection:bg-white! selection:text-[#524CF2]!"
>
  <div class="flex max-w-[85rem] flex-col text-white m-auto">
    <h1
      class="block text-center text-[32px] md:text-[52px] font-bold tracking-tight text-balance whitespace-pre-line sm:text-4xl lg:text-6xl lg:leading-tight dark:text-neutral-200"
    >
      <Fragment set:html={title} />
    </h1>

    {
      prosList && (
        <div class="flex flex-col w-full items-center gap-6 mt-[90px] sm:flex-row">
          {prosList.map((item, index) => {
            if (index < prosList.length && index !== prosList.length - 1) {
              return (
                <ProsItem {...item} />
                <div class="bg-white w-[1px] h-[100px] opacity-50 mt-6 hidden sm:block"></div>
              )
            }
            return (
              <ProsItem {...item} />
            )
          })}
        </div>
      )
    }
  </div>
</section>
