---
import '@styles/modals.css'
import ContactForm from '../forms/ContactForm.astro'
import type { FormType } from '@/types/formTypes';

interface Props {
  form: FormType | null;
  submitBtnLabel: string | null;
}

const {form, submitBtnLabel } = Astro.props;
---

<div class="micromodal" id="courses-modal" aria-hidden="true">
    <div class="micromodal__overlay" tabindex="-1" data-micromodal-close>
      <div class="micromodal__container" role="dialog" aria-modal="true" aria-labelledby="courses-modal-title">
        <button aria-label="Close modal" class="absolute right-7 top-7 h-[30px] w-[30px] text-text-main" data-micromodal-close>
            <svg
              class="shrink-0"
              width="30"
              height="30"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M18 6 6 18"></path>
              <path d="m6 6 12 12"></path>
            </svg>
        </button>

        <ContactForm title='Contact to Book' subTitle='You can reach us anytime' form={form} submitBtnLabel={submitBtnLabel} />

      </div>
    </div>
</div>

<script>
  import MicroModal from 'micromodal';

  MicroModal.init();
</script>