---
import type { StrapiImageType } from "@/types/common";
import ProfileCard from "./ProfileCard.astro";

const { title, subtitle, customWrapperStyle, userProfiles } = Astro.props;

export interface Profile {
  name: string;
  role?: string;
  bio?: string;
  avatar?: StrapiImageType;
  socials: {
    email?: string;
    facebook?: string;
    linkedin?: string;
  };
}

export interface UserSpotlightSectionProps {
  title: string;
  subtitle?: string;
  customWrapperStyle?: string;
  userProfiles?: Profile[];
}

interface Props extends UserSpotlightSectionProps {}

const customWrapperStyleStr = customWrapperStyle ? customWrapperStyle : "";
---

<section
  class="header-text-dark mx-auto flex flex-col gap-6 overflow-hidden bg-[#F5F5F5] px-4 py-22 md:items-center md:gap-8 md:pb-[100px] lg:px-10"
  style={customWrapperStyleStr}
>
  <div class="w-full">
    <div class="mx-auto w-full max-w-7xl">
      <h1
        class="text-text-main font-helvetica-black block text-center text-[32px] leading-[120%] font-bold text-balance whitespace-pre-line lg:text-[52px] dark:text-neutral-200"
        data-aos="fade-up"
        data-aos-delay="150"
        data-aos-once="true"
      >
        <Fragment set:html={title} />
      </h1>
      {
        subtitle && (
          <p
            class="text-text-secondary font-helvetica mx-auto mt-6 w-full max-w-[846px] text-center text-lg"
            data-aos="fade-up"
            data-aos-delay="350"
            data-aos-once="true"
          >
            {subtitle}
          </p>
        )
      }
    </div>

    <div class="embla mx-auto mt-[60px] max-w-7xl" data-aos="fade-up" data-aos-delay="150" data-aos-once="true">
      <div class="embla__container md:flex md:w-full md:flex-row md:flex-wrap md:justify-center md:gap-6">
        {
          userProfiles &&
            userProfiles.map((user, index) => (
              <div
                class="embla__slide md:flex-[0_0_30%]"
                data-aos="fade-up"
                data-aos-delay={300 + index * 200}
                data-aos-once="true"
              >
                <ProfileCard {...user} />
              </div>
            ))
        }
      </div>
    </div>
  </div>
</section>

<style>
  @media screen and (max-width: 768px) {
    .embla {
      width: 100%;
      max-width: 1280px;
      --slide-height: 19rem;
      --slide-spacing: 2rem;
      --slide-size: 80%;
    }
    .embla__viewport {
      overflow: hidden;
    }
    .embla__container {
      display: flex;
      touch-action: pan-y pinch-zoom;
      margin-left: calc(var(--slide-spacing) * -1);
    }
    .embla__slide {
      transform: translate3d(0, 0, 0);
      flex: 0 0 var(--slide-size);
      min-width: 0;
      margin-left: var(--slide-spacing);
    }
  }
</style>

<script>
  import EmblaCarousel, { type EmblaOptionsType, type EmblaCarouselType } from "embla-carousel";

  const emblaNodes = document.querySelectorAll(".embla");
  const options: EmblaOptionsType = { loop: false, align: "start", dragFree: true };

  const emblaInstances = new Map<Element, EmblaCarouselType>();

  function enableMobileEmbla() {
    emblaNodes.forEach((node) => {
      if (!emblaInstances.has(node)) {
        const embla = EmblaCarousel(node as HTMLElement, options);
        emblaInstances.set(node, embla);
      }
    });
  }

  function disableMobileEmbla() {
    emblaInstances.forEach((embla, node) => {
      embla.destroy();
      emblaInstances.delete(node);
    });
  }

  const mobileQuery = window.matchMedia("(max-width: 767px)");

  if (mobileQuery.matches) enableMobileEmbla();

  mobileQuery.addEventListener("change", (e) => {
    if (e.matches) {
      enableMobileEmbla();
    } else {
      disableMobileEmbla();
    }
  });
</script>
