---
import SectionCorner from "../SectionCorner.astro";
import WhyUsAltItem from "./WhyUsAltItem.astro";

const { altTitle, whyUsItems, id, __typename, HasTitle } = Astro.props;

export interface IWhyUsAltItem {
  iconStr: string;
  title: string;
  description: string;
}

export interface WhyUsAltProps {
  HasTitle: Boolean;
  altTitle?: String;
  whyUsItems?: IWhyUsAltItem[];
  id: string;
  __typename: string;
}

interface Props extends WhyUsAltProps {}
---

<section
  class={`${__typename} bg-[#F5F5F5] relative mx-auto gap-8 px-4 py-[100px] md:items-center md:gap-8 md:py-[120px] xl:px-10`}
>
  <div class="m-auto flex max-w-7xl flex-col " data-aos="fade-up" data-aos-delay="150" data-aos-once="true">

    {
      HasTitle && (
        <h1
          class="mb-[90px] block text-center text-[32px] text-text-main leading-[120%] font-black text-balance whitespace-pre-line md:text-[52px] lg:text-[52px] dark:text-neutral-200"
        >
          <Fragment set:html={altTitle} />
        </h1>
      )
    }

    {
      whyUsItems && (
        <ul class="flex w-full flex-col items-center justify-center gap-6 sm:grid sm:justify-items-center md:grid-cols-2 xl:flex xl:flex-row xl:flex-wrap xl:items-start">
          {whyUsItems.map((item, index) => {
            if (index < whyUsItems.length && index !== whyUsItems.length - 1) {
              return (
                <li
                  data-aos="fade-up"
                  data-aos-delay={300 + index * 200}
                  data-aos-once="true"
                  class={"relative flex md:flex-[0_0_280px] w-full items-center justify-center gap-4"}
                >
                  <WhyUsAltItem {...item} />
                  <div class="divider absolute right-0 translate-x-2 md:translate-x-[calc(12px+1px)] top-8 hidden h-[140px] w-px bg-[#E1E1E1] opacity-50 md:block" />
                </li>
              );
            }
            return (
              <li
                data-aos="fade-up"
                data-aos-delay={300 + index * 200}
                data-aos-once="true"
                class={"flex md:flex-[0_0_280px] w-full  flex-col items-center gap-4"}
              >
                <WhyUsAltItem {...item} />
              </li>
            );
          })}
        </ul>
      )
    }
  </div>
</section>

<style>
  .ComponentSectionsWhyUs ul li:nth-child(4n) .divider {
    display: none;
  }
  @media (min-width: 768px) and (max-width: 991px) {
  .ComponentSectionsWhyUs ul li:nth-child(2n) .divider {
    display: none;
  }
}
</style>
