---
import MainLayout from "@/layouts/MainLayout.astro";
---

<html>
  <head>
    <title>Cookie Policy</title>
    <meta name="description" content={"Cookie Policy"} />
  </head>

  <body class="bg-[#F5F5F5]">
    <main>
      <MainLayout>
        <section class="header-text-dark pb-10 bg-white md:bg-transparent pt-[72px] md:pt-[120px]! md:p-6 text-text-main">
            <div class="mx-auto bg-white max-w-7xl lg:rounded-xl lg:shadow-card mb-6 p-4 lg:p-20">
                <h1 class="font-black text-4xl leading-[150%]">HPJ Holdings</h1>
                <h2 class="font-normal text-4xl leading-[150%]">COOKIE POLICY</h2>

                <div class="flex flex-col mt-11">
                    <p class="font-bold text-2xl">1. Introduction:</p>
                    <p class="font-normal text-lg mt-6">Our website uses cookies and similar technologies to distinguish you from other users of our website. This helps HPJ Holdings (we, us) to provide you with a good experience when you browse our website and also allows us to improve our website.</p>
                </div>

                <div class="flex flex-col mt-11">
                    <p class="font-bold text-2xl">2. What is a cookie?</p>
                    <p class="font-normal text-lg mt-6">A cookie is a small file of letters and numbers that we store on your browser or the hard drive of your computer if you agree. Cookies contain information that is transferred to your computer’s hard drive.</p>
                </div>

                <div class="flex flex-col mt-11">
                    <p class="font-bold text-2xl">3. Cookies we use</p>
                    <p class="font-normal text-lg mt-6">3.1 We use third party analytical cookies to allow us to analyse information about your use of our website and report on activities and trends.</p>
                    <p class="font-normal text-lg mt-6">3.2 You can find more information about the individual cookies we use and the purposes for which we use them in the table below:</p>
                
                    <table class="mt-4 border-separate border-spacing-y-4">
                        <thead>
                            <tr>
                            <th class="text-start">Cookie provider</th>
                            <th class="text-start">Duration</th>
                            <th class="text-start">Cookie name</th>
                            <th class="text-start">Purpose</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td>Google Analytics</td>
                            <td>2 Years</td>
                            <td>_ga</td>
                            <td>Used to distinguish unique users and unique sessions from a single user.</td>
                            </tr>
                            <tr>
                            <td></td>
                            <td></td>
                            <td>_gat</td>
                            <td>Used to carry out a 10 Minutes throttle request rate.</td>
                            </tr>
                            <tr>
                            <td></td>
                            <td></td>
                            <td>_gid</td>
                            <td>Used to collect data 24 Hours on how a visitor uses a website.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="flex flex-col mt-11">
                    <p class="font-bold text-2xl">4. Third party cookies</p>
                    <p class="font-normal text-lg mt-6">4.1 Please note that Google also collects information about you via the Google Analytics cookie. We have no control over how third parties (like Google) use any personal data that they collect from cookies.</p>
                    <p class="font-normal text-lg mt-6">4.2 You can learn more about Google’s practices by going to www.google.com/policies/privacy/partners/ and exercise the opt out provided by Google by downloading the Google Analytics opt-out browser add on available at https://tools.google.com/dlpage/gaoptout.</p>
                </div>

                <div class="flex flex-col mt-11">
                    <p class="font-bold text-2xl">5. Contact details</p>
                    <p class="font-normal text-lg mt-6">5.1 If you have any queries or requests concerning this cookie policy or how we handle your personal data more generally, please get in touch with us by contacting our data protection team at info_general@hpj.ae</p>
                </div>

                <div class="flex flex-col mt-11">
                    <p class="font-bold text-2xl">6. Expiry of cookies</p>
                    <p class="font-normal text-lg mt-6">All cookies we use will expire after the period set out in the “duration” column at paragraph 3 above. Changes to our cookie policy Any changes to our cookie policy will be posted to our website and, where appropriate, we will notify you of the changes for example by email or push notification. This cookie policy was last updated in January 2025.</p>
                </div>
            </div>
        </section>
      </MainLayout>
    </main>
  </body>
</html>