---
import MainLayout from "@/layouts/MainLayout.astro";
import { DynamicPageHandler } from "@/gql/services/dynamic-page-handler";

const { globalSetting } = await new DynamicPageHandler().getDynamicPageData();
---

<html>
  <head>
    <title>Cookie Policy</title>
    <meta name="description" content={"Cookie Policy"} />
  </head>

  <body class="bg-[#F5F5F5]">
    <main>
      <MainLayout globalSettings={globalSetting}>
        <section class="header-text-dark pb-10 bg-white md:bg-transparent pt-[72px] md:pt-[120px]! md:p-6 text-text-main">
            <div class="mx-auto bg-white max-w-7xl lg:rounded-xl lg:shadow-card mb-6 p-4 lg:p-20">
                <div class="policy-content" set:html={globalSetting.cookie_policy_text} />
            </div>
        </section>
      </MainLayout>
    </main>
  </body>
</html>
