---
import MainLayout from "@/layouts/MainLayout.astro";
---

<html>
  <head>
    <title>Privacy Policy</title>
    <meta name="description" content={"Privacy Policy"} />
  </head>

  <body class="bg-[#F5F5F5]">
    <main>
      <MainLayout>
        <section class="header-text-dark pb-10 bg-white md:bg-transparent pt-[72px] md:pt-[120px]! md:p-6 text-text-main">
            <div class="mx-auto bg-white max-w-7xl lg:rounded-xl lg:shadow-card mb-6 p-4 lg:p-20">
                <h1 class="font-black text-4xl leading-[150%]">HPJ Holdings</h1>
                <h2 class="font-normal text-4xl leading-[150%]">PRIVACY POLICY</h2>
                <div class="flex flex-col mt-11">
                    <p class="font-bold text-2xl">1. Introduction:</p>
                    <p class="font-normal text-lg mt-6">Our website uses cookies and similar technologies to distinguish you from other users of our website. This helps HPJ Holdings (we, us) to provide you with a good experience when you browse our website and also allows us to improve our website.</p>
                </div>


                <div class="flex flex-col mt-11">
                    <p class="font-bold text-2xl">4. Third party cookies</p>
                    <p class="font-normal text-lg mt-6">4.1 Please note that Google also collects information about you via the Google Analytics cookie. We have no control over how third parties (like Google) use any personal data that they collect from cookies.</p>
                    <p class="font-normal text-lg mt-6">4.2 You can learn more about Google's practices by going to www.google.com/policies/privacy/partners/ and exercise the opt out provided by Google by downloading the Google Analytics opt-out browser add on available at https://tools.google.com/dlpage/gaoptout.</p>
                </div>

                <div class="flex flex-col mt-11">
                    <p class="font-normal text-lg mt-6">HPJ Management Consultancy LLC, (hereinafter referred to as “HPJ”, “Company”, “we”, “us”, “our”) values your security and privacy. HPJ is required to comply with Federal Decree-Law No45 on the Protection of Personal Data Protection (PDPL) issue on 26th September 2021 and may for certain types of personal data processing, be subject to laws from other jurisdictions such as DIFC.</p>
                </div>

                <div class="flex flex-col mt-11">
                    <p class="font-normal text-lg mt-6">This data privacy policy (the <b>"Privacy Policy"</b>) sets out the basis on which any information, including any personal data, we collect from you, or you provide to us, will be processed by the Company. Each time you access or use the website or provide us with personal information or personal data, by doing so you acknowledge the practices described in this Privacy Policy. Your rights described herein apply in these instances as well.</p>
                </div>
            </div>
        </section>
      </MainLayout>
    </main>
  </body>
</html>