---
import type { StrapiImageType } from '@/types/common';
import ProfileCard from "./ProfileCard.astro";

const { title, subtitle, customWrapperStyle, userProfiles } = Astro.props;

export interface Profile {
  name: string;
  role: string;
  bio: string;
  avatar: StrapiImageType;
  socials: {
    email?: string;
    facebook?: string;
    linkedin?: string;
  };
}

export interface UserSpotlightSectionProps {
  title: string;
  subtitle?: string;
  customWrapperStyle?: string;
  userProfiles?: Profile[];
}

interface Props extends UserSpotlightSectionProps {}

const customWrapperStyleStr = customWrapperStyle ? customWrapperStyle : "";

---

<section
  class="header-text-dark overflow-hidden mx-auto flex flex-col gap-6 bg-[#F5F5F5] px-4 py-[100px] pb-[142px] md:items-center md:gap-8 md:py-[150px] md:pb-[100px] lg:px-10"
  style={customWrapperStyleStr}
>
  <div data-aos="fade-up" data-aos-delay="150" data-aos-once="true" class="w-full">
    <div class="mx-auto w-full max-w-7xl">
      <h1
        class="text-text-main font-helvetica-black block text-center text-[32px] leading-[120%] font-bold text-balance whitespace-pre-line lg:text-[52px] dark:text-neutral-200"
      >
        <Fragment set:html={title} />
      </h1>
      {
        subtitle && (
          <p class="text-text-secondary mx-auto mt-6 w-full max-w-[846px] text-center text-lg text-pretty">
            {subtitle}
          </p>
        )
      }
    </div>

    <div
      class="embla mx-auto mt-[60px] max-w-7xl"
      data-aos="fade-up"
      data-aos-delay="150"
      data-aos-once="true"
    >
      <div class="embla__container md:flex md:w-full md:flex-row md:justify-center md:gap-6">
        {userProfiles && userProfiles.map((item) => <div class="embla__slide"><ProfileCard {...item} /></div>)}
      </div>
    </div>
  </div>
</section>

<style>

  @media screen and (max-width: 768px) {
    .embla {
      width: 100%;
      max-width: 1280px;
      --slide-height: 19rem;
      --slide-spacing: 2rem;
      --slide-size: 80%;
    }
    .embla__viewport {
      overflow: hidden;
    }
    .embla__container {
      display: flex;
      touch-action: pan-y pinch-zoom;
      margin-left: calc(var(--slide-spacing) * -1);
    }
    .embla__slide {
      transform: translate3d(0, 0, 0);
      flex: 0 0 var(--slide-size);
      min-width: 0;
      margin-left: var(--slide-spacing);
    }
  }

</style>

<script>
  import EmblaCarousel, { type EmblaOptionsType } from "embla-carousel";

  const emblaNodes = document.querySelectorAll(".embla");
  const options: EmblaOptionsType = { loop: false, align: "start", dragFree: true };
  emblaNodes.forEach(emblaNode => {
    if (emblaNode) {
      const emblaApi = EmblaCarousel(emblaNode! as HTMLElement, options);
    }
  });
</script>
