---
import type { FormType } from '@/types/formTypes';
import FormLayout from './FormLayout.astro';

interface Props {
  title: string;
  subTitle?: string;
  form: FormType | null;
  submitBtnLabel: string | null;
}

const { title, subTitle, form, submitBtnLabel } = Astro.props;
---

<div
  class="flex w-full flex-col items-center contact-form md:w-[532px]"
>
    <div>
        <h2 class="text-3xl md:text-[36px] text-center text-text-main font-medium">{title}</h2>
        {subTitle  && (<p class="text-text-secondary text-center text-lg mt-3">{subTitle}</p>)}
    </div>

    <FormLayout form={form} submitBtnLabel={submitBtnLabel} formId="cv-form" />
</div>