@font-face {
  font-family: 'Helvetica Now';
  src: url('/fonts/HelveticaNow/HelveticaNowDisplayMedium.otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Now Bold';
  src: url('/fonts/HelveticaNow/HelveticaNowDisplayBold.otf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Now Bold';
  src: url('/fonts/HelveticaNow/HelveticaNowDisplayBold.otf');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}