@import "tailwindcss";
@import "preline/variants.css";
@plugin '@tailwindcss/forms';

@import "./fonts.css";

@custom-variant dark (&:is(.dark *));

@theme {
  /* https://tailwindcss.com/docs/colors#customizing-your-colors */
  --color-*: initial;
  --color-transparent: transparent;
  --color-current: currentColor;
  --color-black: #000;
  --color-white: #fff;

  --color-primary: #524cf2;
  --color-primary-hover: #635DF3;
  --color-primary-text: #191919;
  --color-secondary-text: #4A4A4A;

  --color-text-main: #040404;
  --color-text-secondary: #040404;

  --color-gray-90: #373B43;
  --color-gray-10: #F9F9F9;
  --color-neutral-gray: #6C717F;
  --color-dark-purple: #0A0D27;

  --font-helvetica-light: 'Helvetica Now Light';
  --font-helvetica: 'Helvetica Now';
  --font-helvetica-medium: 'Helvetica Now Medium';
  --font-helvetica-bold: 'Helvetica Now Bold';
  --font-helvetica-black: 'Helvetica Now Black';
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

.embla__button {
  width: 48px;
  height: 48px;
  padding: 16px;
  background-color: white;
  border-radius: 50%;
  box-shadow:
    0px 8px 16px 0px #00000014,
    0px 0px 4px 0px #0000000a;
}
