.micromodal {
  display: none;
}

.micromodal.is-open {
  display: block;
}

.micromodal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.65);
  z-index: 200;
}

.micromodal__container {
  box-sizing: border-box;
  overflow-y: auto;
  max-height: 100vh;
  padding: 48px;
  background-color: #fff;
  border-radius: 12px;
}

.micromodal[aria-hidden="false"] .micromodal__overlay {
  animation: microModalFadeIn 0.5s ease-in-out;
}

.micromodal[aria-hidden="false"] .micromodal__container {
  animation: microModalSlideIn 0.5s ease-in-out;
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: microModalFadeOut 0.5s ease-in-out;
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: microModalSlideOut 0.5s ease-in-out;
}

.micromodal .micromodal__container,
.micromodal .micromodal__overlay {
  will-change: transform;
}

@keyframes microModalFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes microModalFadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes microModalSlideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes microModalSlideOut {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}

@media screen and (max-width: 786px) {
  .micromodal__overlay {
    z-index: 200;
  }

  .micromodal__container {
    box-sizing: border-box;
    overflow-y: auto;
    max-height: 100vh;
    height: 100%;
    width: 100%;
    padding: 16px;
    background-color: #fff;
    border-radius: 0;
  }
}
